@import '../../../styles/global.scss';

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.12);
  background-color: $background-color;

  .banner {
    padding: 1.5rem 0;
  }
}
